.head {
    padding: 10px 0;
    background-color: #0f3460;
    color: white;
}

.head i {
    margin-right: 10px;
}

.head label {
    margin-right: 30px;
    font-size: 13px;
}





.search {
    padding: 20px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

.search-box {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box .icon-search {
    width: 30px;
    height: 30px;
}

.search-box input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.search-box span {
    font-size: 14px;
    width: 20%;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    opacity: .5;
    padding-left: 10px;
}

.search .logo-UC {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.logo-user, .logo-cart {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    transition: .5s;
    position: relative;
    
}

.logo-user:hover, .logo-cart:hover {
    background-color: #0f3460;
    color: white;
}


.logo-user > *,  .logo-cart > * {
    width: 20px;
    height: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px 15px 17px -8px rgb(0 0 0 / 10%);
}

.categoris {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    gap: 24px;
}

.navlink {
    display: flex;
    gap: 24px;  
}

.categoris h4 {
    font-size: 18px;
}

.categoris .CM {
    width: 20px;
    height: 20px;
}

.navlink a {
    color: slateblue;
    transition: .5s;
}
.navlink a:hover {
    color: pink;
}

.btn-menu {
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.btn-close-nav {
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    display: none;
}

.btn-close-nav > * {
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
}

.btn {
    outline: none;
    border: none;
    background: transparent;
    display: none;
}

.search.active {
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }


.logo-cart::before {
    content: attr(data-qty);
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #e94560;
    color: white;
    font-size: 12px;
    top: -5px;
    right: 0;
    border-radius: 50%;
}

.btn-head-close {
    display: none;
}


@media screen and (max-width: 768px) {
    .head i {
        margin-right: 5px;
    }
    
    .head label {
        font-size: 9px;
        margin-right: 10px;
    }

    .logo h1 {
        font-size: 1.2em;
    }

    .search-box span {
        display: none;
    }

    .logo-user, .logo-cart {
        width: 40px;
        height: 40px;
    }

    .categoris {
        display: none;
    }

    .home-main {
        flex-direction: column-reverse;
    }


    .search.active {
        height: 12vh;
    }

    .btn-head-close {
        display: none;
    }
 }



@media screen and (max-width: 428px){
    .head {
        padding: 5px 0;
    }
    
    .head i {
        margin-right: 5px;
    }
    
    .head label {
        margin-right: 20px;
        font-size: 9px;
    }

    .head.none {
        display: none;
    }

    .btn-head-close {
        display: block;
        position: absolute;
        top:20px;
        right: 20px;
        padding: 5px 10px;
        background-color: #ddd;
        outline: none;
        border: none;
        border-radius: 5px;

    }

    .search .wrapper .logo {
        grid-area: logo;
        margin-bottom: 15px;
    }

    .search .wrapper .search-box {
        grid-area: cari;
    }
    .search .wrapper .logo-UC {
        grid-area: icon;
        gap: 5px;
    }

    .search .wrapper {
        grid-template-areas: 
            "logo logo"
            "cari icon"
        ;

        grid-template-columns: none;
    }

    .navlink {
        flex-direction: column;
        gap: 12px;
        display: none;
        transition: .5s;
        width: 100%;
    }

    .navlink li:first-child {
        margin-top: 7px;
    }

    .navlink.active {
        display: inherit;
        transition: .5s;
    }

    .navbar {
        position: relative;
    }


    .btn {
        display: block;
        position: absolute;
        top: 18px;
        left: 0px;
    }

    .search.active {
        min-height: 115px;
    }
}


