.footer {
    background-color: #0f3460;
}


.bf_section {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.bf {
    padding: 10px;
    color: white;
}

.footer .bf_section .bf > p  {
    color: #ddd;
}

.footer .bf_section .bf ul li {
    color: #ddd;
    margin-bottom: 10px;
}

.bf ul {
    padding: 0;
    list-style: none;
}

.bf h1 {
    color: #e94560;
}


.bf_icon {
    padding: 10px 30px ;
    margin-top: 10px;
    background-color: #143053;
    opacity: .8;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

.appstore, .playstore {
    margin-right: 10px;
}


@media screen and (max-width: 768px){
    .bf_section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 428px){

    .bf_section {
        gap: 5px;
    }
    .bf h1 {
        font-size: 24px;
    }

    .bf h2 {
        font-size: 16px;
    }

    .footer .bf_section .bf ul li {
        font-size: 12px;
        margin-bottom: 0;
    }

    .bf p{
        font-size: 12px;
    }

    .bf_icon {
        padding: 5px 10px;
    }
    .bf_icon span {
    font-size: 12px;
    }
}