body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 90%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.c-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.contentWidth {
  width: 77%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}


.background {
  background-color: #f6f9fc;
  padding-bottom: 50px;
}

.shadow {
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}

.btn-more {
  border: none;
  outline: none;
  color: #e94560;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  opacity: .8;
}