body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.c-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}